# Copie este arquivo para .env e ajuste os valores

# Banco de dados (Railway Postgres)
# OBS: o app aceita postgres:// ou postgresql:// e converte automaticamente para psycopg3.
DATABASE_URL=postgresql://postgres:tRvUeyIMEQxSxwHsLowscTVxZSHZMiXj@yamanote.proxy.rlwy.net:39545/railway

# Chaves/credenciais
SECRET_KEY=chave_super_secreta_123
FERNET_KEY=jVDkb-mt_vO2VfyQppyRM_Mg1LQQnwPiv4PGgi6eU08=

# Admin
ADMIN_USER=admin
ADMIN_PASSWORD=Theranch18.
